.v-enter-active,
.v-leave-active {
    transition: opacity 1s, transform 1s;
}

.v-leave-active {
    position: absolute;
}

.v-enter,
.v-leave-to {
    opacity: 0;
}

.v-move {
    transition: transform 1s;
}

.v-enter-active,
.v-leave-active,
.v-mode {
    transition: opacity 1s, transform 1s;
}